<app-student-nav></app-student-nav>

<div class="container main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Add Paper</li>
      </ol>
      </div><!--/.row-->
<div class="panel panel-container">
<div class="row">
<div class="col-xs-12">
<div class="panel panel-teal panel-widget border-right">
<div class="row no-padding"><em class=""></em>
  <div class="large">Add Paper</div>
  <!-- <div class="text-muted">{{subject}}</div> -->
</div>
</div>
</div>


</div><!--/.row-->
</div>

<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">


  <div class="row" >
    <div class="col-md-12 container" style="">
        <div class="panel panel-widget border-right" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;border-style: solid; border-width: 3px; border-color: #1aa3ff;">
          <div class="container">
              <div class="row" style='margin-left:2%'>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Stream</label>
                          <select class="form-control" [(ngModel)]="selectedStream" (change)="selectedStreamEventHandler($event)">
                            <!--<option *ngFor="let paper of paperSet" [value]="paper.stream" >{{paper.stream}}</option>
                              hardcoded O/L and A/L instead of this
                            -->
                            <option value="O/L" (change)="selectedStreamEventHandler($event)">O/L</option>
                            <option value="A/L" (change)="selectedStreamEventHandler($event)">A/L</option>
                          </select>
                      </div>

                      <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div> -->

                  </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label>Subjects</label>
                        <select class="form-control"  [disabled]="subjectDisabled" [(ngModel)]="selectedSubject" (change)="selectedSubjectEventHandler($event,selectedSubject)">
                          <option *ngFor = "let paper of subjectSet" [value]="paper.subject">{{paper.subject}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">New Subject</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="New Subject">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>


                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" [disabled]="yearDisabled" [(ngModel)]="selectedYear" (change)="selectedYearEventHandler($event)">
                          <option *ngFor="let paper of yearSet" [value]="paper.year">{{paper.year}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">New Year</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="New Year">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>


                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Current Languages</label>
                        <select class="form-control" [(ngModel)]="selectedSubject" (change)="selectedLessonEventHandler($event)">
                          <option *ngFor="let paper of lessonSet" [value]="paper.lesson">{{paper.lesson}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">New Language</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="New Paper ID">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>


                </div>
                <!-- <div class="col-sm-3" style="padding:2%">
                    <button type="button" class="btn btn-md btn-primary" [disabled]="searchButtonDisable" (click)='submitHandler()'>Search</button>
                </div> -->
              </div>
            </div>

        </div>
    </div>
  </div>


  <div class="row" >
    <div class="col-md-12" style="">
        <div class="panel panel-widget border-right" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;border-style: solid; border-width: 3px; border-color: #1aa3ff;">
          <div class="container">
            <div class="row">
            <div class="form-group col-md-10">
              <label for="exampleInputEmail1">Question</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question Here">
            </div>
          </div>
            <div class= "row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Answer 1</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Answer 1">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Answer 2</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Answer 2">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Answer 3</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Answer 3">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Answer 4</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Answer 4">
              </div>
            </div>
          </div>

            </div>

            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Correct Answer</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correct Answer">
                  </div>
                </div>
              <div class="col-sm-6">

                  <button type="submit" style="margin-top:6%" class="btn btn-primary mb-2">Add Question</button>
              </div>
            </div>
            <br><br>


        </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg btn-block">Add Paper</button>


<div class="row" >
<div class="col-md-12">





