<app-student-nav></app-student-nav>


<div class="container main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Dashboard</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div><!--/.row-->

  <div class="panel panel-container">
    <div class="row">
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-teal panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">120</div>
            <div class="text-muted">New Papers</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-blue panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">25000</div>
            <div class="text-muted">MCQ Questions</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-orange panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">72</div>
            <div class="text-muted">Average Marka</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-red panel-widget ">
          <div class="row no-padding"><em class=""></em>
            <div class="large">25.2k</div>
            <div class="text-muted">Page Views</div>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>

  <!-- Form for Subject Selection -->
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-widget border-right" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;">
          <div class="container">
              <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Subjects</label>
                        <select class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Lession</label>
                        <select class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-3" style="padding:2%">
                    <button type="button" class="btn btn-md btn-primary">Search</button>
                </div>
              </div>
            </div>

        </div>
    </div>
  </div>
  <!-- Form for subject Selection -->
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Site Traffic Overview
          <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
              <em class="fa fa-cogs"></em>
            </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <ul class="dropdown-settings">
                    <li><a href="#">
                      <em class="fa fa-cog"></em> Settings 1
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="#">
                      <em class="fa fa-cog"></em> Settings 2
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="#">
                      <em class="fa fa-cog"></em> Settings 3
                    </a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
          <div class="canvas-wrapper">
            <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              Recomended Papers
            </div>
            <div class="panel-body" style="padding:4%; margin:5px">
                <div class="form-group">
										<label>Multiple Selects</label>
										<select multiple class="form-control">
											<option>Option 1</option>
											<option>Option 2</option>
											<option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 4</option>
										</select>
									</div>
									<button type="submit" class="btn btn-primary">Submit Button</button>
            </div>
        </div>
    </div>
  </div><!--/.row-->


