<app-student-nav></app-student-nav>




<div class="container main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Dashboard</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div><!--/.row-->

  <div class="panel panel-container" style="border-style: solid; border-width: 3px; border-color: #1aa3ff;">
    <div class="row">
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-teal panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">{{paperCount}}</div>
            <div class="text-muted">New Papers</div> <!-- if an error occurs remove the variabl-->
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-blue panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">{{questionCount}}</div>
            <div class="text-muted">MCQ Questions</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-orange panel-widget border-right">
          <div class="row no-padding"><em class=""></em>
            <div class="large">72</div>
            <div class="text-muted">Average Marks</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-red panel-widget ">
          <div class="row no-padding"><em class=""></em>
            <div class="large">25.2k</div>
            <div class="text-muted">Page Views</div>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>

  <!-- Form for Subject Selection -->
  <div class="row" >
    <div class="col-md-12 container" style="">
        <div class="panel panel-widget border-right" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;border-style: solid; border-width: 3px; border-color: #1aa3ff;">
          <div class="container">
              <div class="row" style='margin-left:2%'>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Stream</label>
                          <select class="form-control" [(ngModel)]="selectedStream" (change)="selectedStreamEventHandler($event)">
                            <option value="O/L" (change)="selectedStreamEventHandler($event)">O/L</option>
                            <option value="A/L" (change)="selectedStreamEventHandler($event)">A/L</option>
                          </select>
                        </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Language</label>
                        <select class="form-control" [disabled]="LanguageDisabled" [(ngModel)]="selectedLanguage" (change)="selectedLanguageEventHandler($event)">
                          <option value="Sinhala" (change)="selectedLanguageEventHandler($event)">Sinhala</option>
                          <option value="English" (change)="selectedLanguageEventHandler($event)">English</option>
                          <option value="Tamil" (change)="selectedLanguageEventHandler($event)">Tamil</option>
                        </select>
                      </div>
                </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Subjects</label>
                        <select class="form-control"  [disabled]="subjectDisabled" [(ngModel)]="selectedSubject" (change)="selectedSubjectEventHandler($event,selectedSubject)">
                          <option *ngFor = "let paper of subjectSet" [value]="paper.subject">{{paper.subject}}</option>
                        </select>
                      </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" [disabled]="yearDisabled" [(ngModel)]="selectedYear" (change)="selectedYearEventHandler($event)">
                          <option *ngFor="let paper of yearSet" [value]="paper.year">{{paper.year}}</option>
                        </select>
                      </div>
                </div>

                <div class="col-sm-3" style="padding:2%">
                    <button type="button" class="btn btn-md btn-primary" [disabled]="searchButtonDisable" (click)='submitHandler()'>Search</button>
                </div>
              </div>
            </div>

        </div>
    </div>
  </div>
  <!-- Form for subject Selection -->
  <div class="row">
    <div class="container">
      <div class="panel panel-default" style="border-style: solid; border-width: 3px; border-color: #1aa3ff;">
        <div class="panel-heading">
          Overall Paper Marks
          <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
              <em class="fa fa-cogs"></em>
            </a>
            </li>
          </ul>
          <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
          <div class="canvas-wrapper">
            <canvas  class="main-chart"  id="lineChart" height="200" width="600" ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-container" style="border-style: solid; border-width: 3px; border-color: #1aa3ff;">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="panel panel-widget border-right">
            <div class="row no-padding">
                <div class="col-lg-2" style="text-align: center">2012</div>
                <div class="col-lg-2" style="text-align: center">Physics</div>
                <div class="col-lg-2" style="text-align: center">50%</div><!-- if an error occurs remove the variabl-->
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6">
          <div class="panel panel-widget border-right">
            <div class="row no-padding">
              <div class="col-lg-2">2015</div>
              <div class="col-lg-2">Chemistry</div>
              <div class="col-lg-2">20%</div>
            </div>
          </div>
        </div>
      </div><!--/.row-->
    </div>



</div>





