
    <app-student-nav></app-student-nav>
    <div class="container main">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">
            <em class="fa fa-home"></em>
          </a></li>
          <li class="active">Dashboard</li>
          </ol>
          </div><!--/.row-->
    <div class="panel panel-container">
    <div class="row">
    <div class="col-xs-6">
    <div class="panel panel-teal panel-widget border-right">
    <div class="row no-padding"><em class=""></em>
      <div class="large">Search Results</div>
      <div class="text-muted"></div>
    </div>
    </div>
    </div>
    <div class="col-xs-6">
    <div class="panel panel-teal panel-widget border-right">
    <div class="row no-padding"><em class=""></em>
      <h5 class="large" style="font-size: 25px">A/L Combined Mathematics</h5>
      <div class="text-muted">Lesson if needed</div>
    </div>
    </div>
    </div>

    </div><!--/.row-->
    </div>

    <div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
      <div class="row justify-content-center">
          <div class= "justify-content-center" style="margin-left: 35%">
          <div class="list-group" style="width: 50%;">
              <a href="#" class="list-group-item list-group-item-action">Combined Mathematics 2015 A/L</a>
              <a href="#" class="list-group-item list-group-item-action">Combined Mathematics 2014 A/L</a>
              <a href="#" class="list-group-item list-group-item-action">Combined Mathematics 2015 A/L</a>
              <a href="#" class="list-group-item list-group-item-action">Combined Mathematics 2015 A/L</a>
              <a href="#" class="list-group-item list-group-item-action">Combined Mathematics 2015 A/L</a>
            </div>
          </div>
    </div>
</div>


