
    <app-student-nav></app-student-nav>
    <div class="container main">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">
            <em class="fa fa-home"></em>
          </a></li>
          <li class="active">Dashboard</li>
          </ol>
          </div><!--/.row-->
    <div class="panel panel-container" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;border-style: solid; border-width: 3px; border-color: #1aa3ff;">
    <div class="row">
    <div class="col-xs-6">
    <div class="panel panel-teal panel-widget border-right">
    <div class="row no-padding"><em class=""></em>
      <div class="large">Search Results</div>
      <div class="text-muted"></div>
    </div>
    </div>
    </div>
    <div class="col-xs-6">
    <div class="panel panel-teal panel-widget border-right">
    <div class="row no-padding"><em class=""></em>
      <h5 class="large" style="font-size: 25px">Uploaded Papers</h5>
    </div>
    </div>
    </div>

    </div><!--/.row-->
    </div>

    <div class="panel panel-container" style="text-align: left; background-color: white; padding: 10px; border-radius: 10px;border-style: solid; border-width: 3px; border-color: #1aa3ff;">
      <div class="row justify-content-center">
          <div class= "justify-content-center">
          <div class="list-group container" style="padding:5%">
            <table class="table">
              <button (click)="openPaper($event)" value="{{paper.paperID}}" class="list-group-item list-group-item-action" *ngFor="let paper of paperSet">{{paper.subject}} &nbsp;&nbsp;&nbsp;{{paper.year}}&nbsp;&nbsp;&nbsp;{{paper.stream}} &nbsp;&nbsp;&nbsp; {{paper.language}}</button>
            </table>
              </div>
          </div>
    </div>
</div>

<div class="col-sm-3" style="padding:2%">
  <button type="button" class="btn btn-md btn-primary"  (click)='goHome()' >Go to Dashboard</button>
</div>


