<app-student-nav></app-student-nav>


<div *ngFor="let paper of paperSet">
  <p>{{paper.subject}}</p>
</div>
<div class="container main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Dashboard</li>
      </ol>
      </div><!--/.row-->
<div class="panel panel-container">
<div class="row">
<div class="col-xs-6">
<div class="panel panel-teal panel-widget border-right">
<div class="row no-padding"><em class=""></em>
  <div class="large">2015 A/L</div>
  <div class="text-muted">Combined Mathematics</div>
</div>
</div>
</div>
<div class="col-xs-6">
<div class="panel panel-teal panel-widget border-right">
<div class="row no-padding"><em class=""></em>
  <div class="large">1:15:00</div>
  <div class="text-muted">Remaining</div>
</div>
</div>
</div>

</div><!--/.row-->
</div>

<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
<div class="row">
<div class="col-md-12">
<label for="">What the hell?</label>
</div>
</div>
<div class = "row">
<div class = "col-md-3">
<div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
    </label>
  </div>
</div>
<div class = "col-md-3">
<div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
    </label>
  </div>
</div>
<div class = "col-md-3">
<div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
    </label>
  </div>
</div>
<div class = "col-md-3">
<div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
    </label>
  </div>
</div>
</div>

</div>


<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
<div class="row">
<div class="col-md-12">
  <label for="">What the hell?</label>
</div>
</div>
<div class = "row">
<div class = "col-md-3">
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
        </label>
      </div>
</div>
<div class = "col-md-3">
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
        </label>
      </div>
</div>
<div class = "col-md-3">
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
        </label>
      </div>
</div>
<div class = "col-md-3">
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
        </label>
      </div>
</div>
</div>

</div>
<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
  <div class="row">
    <div class="col-md-12">
      <label for="">What the hell?</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
  </div>

  </div>


<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
  <div class="row">
    <div class="col-md-12">
      <label for="">What the hell?</label>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
    <div class = "col-md-3">
        <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
            </label>
          </div>
    </div>
  </div>

  </div>

<div class="panel panel-container" style="text-align: left; padding: 10px; border-radius: 10px;">
    <div class="row">
      <div class="col-md-12">
        <label for="">What the hell?</label>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-3">
          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
              </label>
            </div>
      </div>
      <div class = "col-md-3">
          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
              </label>
            </div>
      </div>
      <div class = "col-md-3">
          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
              </label>
            </div>
      </div>
      <div class = "col-md-3">
          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
              </label>
            </div>
      </div>
    </div>

    </div>

<div class="row">
      <div class="col-md-3 offset-md-3">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
</div>

